/* Colors */
:root {
    --bg-page : #303C6C;
    --header-color: #303C6C;
    --heading-color: #FBEA86;
    --text-color: #303C6C; 
    --bg-main : #FBEA86;
    --bg-flashcard: #FBEA86;
    --bdr-card : #303C6C;
}

@font-face {
    font-family: "Roboto-heading";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-description";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg-page);
}

.fc-top-app-bar {
    position: relative;
    background-color: var(--header-color);
    color: var(--heading-color);
    text-align: center;
    font-family: "Roboto-heading";
    font-size: 26px;
    justify-content: center;
    align-content: center;
    padding: 10px 0;
}
/* 
.fc-main-block {
} */

.flash-card {
    padding: 5px 20px;
}

.flash-card-item {
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    background: var(--bg-flashcard);
}

.flash-card-item-title {
    margin-bottom: 10px;
}

.title-text, .title-detail, .description-text, .description-detail {
    color: var( --text-color);
}

.title-text, .title-detail {
    font-family: "Roboto-heading";
}

.description-text, .description-detail {
    font-family: "Roboto-description";
}

.fc-fab {
    position: fixed;
    bottom: 15px;
    right: 10px;       
}

.fc-mdc-fab__ripple {
    background: var(--bg-flashcard);
}